<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>User</title>
</head>
<body>
     <h3 class="mt-3"><%=userShow.name%></h3>
     <h6><%=userShow.email%></h6>

     <div class="card-group">
          <div class="row">

            
               <div class="card col-5">
                    <div class="card-img-top">
                         <div class="card-body">






                         </div>
                    </div>

               </div>
          </div>
     </div>

     <p><%=userShow.commentsLeft%></p>
     <p><%=userShow.placesSeen%></p>
     
</body>
</html>