<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>OTBP</title>
</head>
<body>

<h3 class="text-center pt-3 pb-2">Places</h3>

<div class="card-group text-center offset-2">

     <div class="row">
     <% for (let i = 0; i < places.length; i++) { %>

     <div class="card col-5">
          <img class="card-img-top rounded pt-3" style="width:100%; height:30vh; object-fit: cover;" src="<%=places[i].image%>">
          <div class="card-body">
               <h5 class="card-title"><a href="/places/<%=places[i]._id%>"><%=places[i].name%></h5></a>
          </div>
     </div>
          
 <% } %>
     </div>
</div>


<form action="/places/new" method="GET">
<input class="ml-3 mb-3 mt-3" type="submit" value="Add a spot!"/>
</form>

     
</body>
</html>