<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>OTBP</title>
</head>
<body>

<h3 class="title m-5">Places Visited</h3>

<!-- <div class="container">
     <div class="row">
          <div class="col">
               1 of 2
          </div>
          <div class="col">
               2 of 2
          </div>
     </div>
     <div class="row">
          <div class="col"> -->

<ul class="list-group list-group-flush m-5">

     <% for (let i = 0; i < places.length; i++) { %>


          <li class="list-group-item">
          
          <a href="/places/<%=places[i]._id%>">
          <%=places[i].name%></a>
          </li>

     <% } %>
     </ul>


<form action="/places/new" method="GET">
<input class="ml-3 mb-3 mt-3" type="submit" value="Add a spot!"/>
</form>

     
</body>
</html>