<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>OTBP</title>
</head>
<body>
     
<h3 class="m-3">Add New Place</h3>
<!-- name country continent comments -->
<form action="/places" method="POST">

          <div>
          <label for="name">Name: </label>
          <input type="text" id="name" name="name"/>
          </div>

          <div>
          <label for="country">Country: </label>
          <input type="text" id="country" name="country"/>
          </div>

          <div>
          <label for="continent">Continent: </label>
          <input type="text" id="continent" name="continent"/>
          </div>

          <input type="submit" value="Add Place"/>


</form>


</body>
</html>