<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>OTBP</title>
</head>
<body style="max-width: 100vh;">
     
<h3 class="pt-5 pb-3 text-center">What did you see, and where?</h3>
<!-- name country continent comments -->
<form action="/places" method="POST">

     <div class="form-group" style="
     max-width: 50vh;
     justify-content: center;
     align-items: center;">

          
          <label for="name"></label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Place"/>
         

          
          <label for="country"></label>
          <input type="text" class="form-control" id="country" name="country" placeholder="Country"/>
         

          
          <label for="continent"></label>
          <input type="text" class="form-control mb-5" id="continent" name="continent" placeholder="Continent"/>
          

          <input type="submit" value="Submit"/>
        
     </div>

</form>


</body>
</html>