<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>OTBP</title>
</head>
<body>
     <!--Id body place-->

     <h3 class="pt-5 pb-3 text-center">Add a Memory</h3>
     <form action="/comments" method="POST">
     
     <select name="place">

          <% places.forEach((place) => { %>
          <option value="<%= place._id %>" id="placeId"><%=place.name %></option>
     
          <%})%>
          
     </select>
    
     <div>
          <label for="firstName">First Name:</label>
          <input type="text" name="firstName">
     </div>

     <div>
          <label for="body">Body:</label>
          <input type="text" name="body">
     </div>

     <input type="submit">
     
     </form>
</body>
</html>