<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>OTBP</title>
</head>
<body>
     

<h3><%=comment.name %></h3>
<a href="/places/<%=place.id%>"><p><%= place.name %></p></a>
<p><%= comment.body%></p>

<div>
<form action="/comments/<%comment._id%>"?_method=DELETE" method="POST">
<input type="submit" value="Delete">
</form>
</div>

<div>
<form action="/comments/<%comment._id%>/edit" method="GET">
<input type="submit" value="Update">
</form>
</div>


</body>
</html>