<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>OTBP</title>

</head>
<body class="container-fluid" style="justify-content: center; align-items: center;">

     <h1 class="text-center">OTBP</h1>

     <div class="container-fluid ml-2 mr-4">
          <div class="row">
               <div class="col">
                    <!-- Login -->
               </div>

               <div class="col-8 text-white text-center rounded" style="background-color: #00303b;">
                    <h3 class="m-1">Where have you been off the beaten path?</h3>
               </div>

               <div class="col">
                    <!-- Place suggestion? -->
               </div>
          </div>
     </div><br/>

          <div class="container-fluid rounded mb-5" style="background-color:#ffce96; padding: 1.5em; min-height: 50vh;">
               <div class="row">
               <div class="col-12">
                    
                    <img src="/images/fremont_troll.jpg" class="img-fluid"/>
                    
               </div>
               </div>
          </div>

     
</body>
</html>