<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>OTBP</title>

</head>
<body class="container-fluid" style="justify-content: center; align-items: center;">

     <h1 class="text-center" style="color: #d08159; padding: .25em;"><i>seen</i></h1>

     <div class="container-fluid">
          <div class="row">
               <div class="col">
                    <!-- Login -->
               </div>

               <div class="col-5 text-white text-center rounded" style="background-color: #d08159; padding: .25em;">
                    <h4>what've you seen off the beaten path?</h4>
               </div>

               <div class="col">
                    <!-- Place suggestion? -->
               </div>
          </div>
     </div><br/>

          <div class="container rounded mb-5" style="background-color:#ffd4a3;
          padding: 1em;">
               <div class="row" style="max-width: auto;
               padding: 1em;">
               <div class="col-10 offset-1 justify-content-center align-items-center mx-auto d-block">
                    <figure class="figure">
                    <img src="/images/jacinto_vaca.jpg" class="img-fluid rounded mx-auto"
                    style="width: auto;"/>
                    <figcaption class="figure-caption text-center text-dark" style="font-size: large; padding-top: 1em;">Jacinto, dame la vaca!</figcaption>
               </figure>
                    
               </div>
               </div>
          </div>

     
</body>
</html>