<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>OTBP</title>

</head>
<body>
     <h1>OTBP</h1>

     <div class="container-fluid ml-2 mr-4">
          <div class="row">
               <div class="col">
                    Login
               </div>

               <div class="col-8 bg-info text-white">
                    <h3>OTBP</h3>
               </div>

               <div class="col">
                    City suggestion?
               </div>
          </div>

          <div class="container-fluid bg-info"></div>
     </div>

     
</body>
</html>