<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>OTBP</title>

</head>
<body>
     <h1>OTBP</h1>

     <div class="container-fluid ml-2 mr-4">
          <div class="row">
               <div class="col">
                    Login
               </div>

               <div class="col-8 text-white rounded" style="background-color: #00303b;">
                    <h3>OTBP</h3>
               </div>

               <div class="col">
                    Place suggestion?
               </div>
          </div>
     </div><br/>

          <div class="container-fluid rounded" style="background-color:#ffce96; padding: 1.5em;">

               <div class="col-12">
                    <a href="/places">
                    <h6 style="min-height: 50vh; background-color: #00303b;">View window for early directions into the site.</h6></a>
               </div>
          </div>


     
</body>
</html>